body {
    font-family: 'Roboto', sans-serif;
    background-color: #35aef4;
    color: #f8f8f8;
}

h2 {
    color: #FFF;
}

footer {
    background-color: #003bd6;
    text-align: center;
}

.bg-card {
    background-color: #003760;
    color: #fff;
}

.btn {
    background-color: #0e9723;
    color: #fff;
}
.btn:hover {
    scale: 1.2;    
    background-color: #0e9723;    
}

